/* styles.css */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .links {
    display: flex;
  }
  
  .links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
  }
  
  .links a img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .rain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("C:\Users\semab\Downloads");
    z-index: -1;
  }